<!-- Page Wrapper -->
<div class="search-wrapper">
    <div class="dropdown-container">
        <input 
            type="text" 
            [(ngModel)]="searchQuery" 
            (input)="filterOptions()" 
            placeholder="Search for restaurant, cuisine or a dish" 
            class="search-input"
        />

        <ul class="dropdown-list" *ngIf="filteredOptions.length > 0">
            <li *ngFor="let option of filteredOptions" (click)="selectOption(option)">
                {{ option }}
            </li>
        </ul>
    </div>
</div>

<div class="imgcontent">
<div class="container-fluid totalcarousels">

    <br><br><h3>Order our best food options</h3><br>

    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
         
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>

        <div class="carousel-inner">
           
            <div class="carousel-item active">
                <div class="row text-center">
                    
                    <div class="col-md-2">
                        <img src="https://png.pngtree.com/png-vector/20240730/ourmid/pngtree-pizza-with-cheese-on-a-white-background-top-viewvery-high-quality-png-image_13292309.png" height="120px" width="100px" class="img-fluid">
                        <h6>Pizza</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://static.vecteezy.com/system/resources/previews/022/911/698/non_2x/colorful-burger-icon-free-illustration-free-png.png" height="120px" width="100px" class="img-fluid">
                        <h6>Burger</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://gallery.yopriceville.com/downloadfullsize/send/8417" class="img-fluid">
                        <h6>Sushi</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://img.freepik.com/premium-vector/plate-with-delicious-penne-pasta-sauce-white-background_906149-104220.jpg?semt=ais_hybrid" class="img-fluid">
                        <h6>Pasta</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://i.pinimg.com/736x/87/09/a4/8709a49191865b3d63c3de700bc898ab.jpg" class="img-fluid">
                        <h6>Steak</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://purepng.com/public/uploads/large/purepng.com-ice-creamice-creamcreamfrozensweet-1411527616051ymbwu.png" class="img-fluid">
                        <h6>Ice Cream</h6>
                    </div>
                </div>
                
                <div class="row text-center">
                    <div class="col-md-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlEsipYD-myZHB7PYYTz028HpSlTInK0TA2w&s" class="img-fluid">
                        <h6>Salad</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqXz1PXWm41MTu9fqr1Ys1VlXzUEVTVpO9eA&s" class="img-fluid">
                        <h6>Tacos</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTedY3Wr47INi7InZ588cVwM2cBfg7nrwSUxQ&s" class="img-fluid">
                        <h6>Sandwich</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://static.vecteezy.com/system/resources/previews/025/269/684/non_2x/fried-rice-with-ai-generated-free-png.png" class="img-fluid">
                        <h6>Fried Rice</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://pngimg.com/d/soup_PNG71.png" class="img-fluid">
                        <h6>Soup</h6>
                    
                    </div>
                    <div class="col-md-2">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Brownie_transparent.png" height="120px" width="110px" class="img-fluid">
                        <h6>Brownie</h6>
                    </div>
                </div>
            </div>

            
            <div class="carousel-item">
                <div class="row text-center"> 
                    <div class="col-md-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlPL8LR0Wxi1KfwJb4i1vwvRCm7XGq5zlHGg&s" class="img-fluid">
                        <h6>Pancakes</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://static.vecteezy.com/system/resources/thumbnails/036/627/182/small_2x/ai-generated-crunchy-french-fries-on-transparent-background-png.png" class="img-fluid">
                        <h6>French Fries</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://png.pngtree.com/png-vector/20230323/ourmid/pngtree-donut-chocolate-black-photo-png-image_6660148.png" height="60px"  class="img-fluid">
                        <h6>Doughnut</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://www.pngplay.com/wp-content/uploads/2/Waffle-PNG-Images-HD.png" class="img-fluid">
                        <h6>Waffles</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://t3.ftcdn.net/jpg/07/43/88/88/360_F_743888840_wR0NwbXeqD2Ie4gFU27EAtwHwj6ONTcA.jpg" class="img-fluid">
                        <h6>Cake</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://www.pngall.com/wp-content/uploads/5/Milkshake-PNG-Photo.png" class="img-fluid">
                        <h6>Milkshake</h6>
                    </div>
                </div>
                
                <div class="row text-center">
                    <div class="col-md-2">
                        <img src="https://pngimg.com/d/mug_coffee_PNG16863.png" class="img-fluid">
                        <h6>Coffee</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://png.pngtree.com/png-vector/20231114/ourmid/pngtree-blueberry-muffins-with-fruits-png-image_10594459.png" class="img-fluid">
                        <h6>Muffins</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbRvKF_El2iuDjZ8-2DUPs8uRkIYn8t3KIkA&s" class="img-fluid">
                        <h6>Hot Dog</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://static.vecteezy.com/system/resources/previews/021/665/568/non_2x/delicious-grilled-chicken-cutout-png.png" class="img-fluid">
                        <h6>Grilled Chicken</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://cdn.pixabay.com/photo/2023/07/27/04/20/nachos-8152413_960_720.png" class="img-fluid">
                        <h6>Nachos</h6>
                    </div>
                    <div class="col-md-2">
                        <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTA4L3Jhd3BpeGVsX29mZmljZV8zM19jYXB0dXJlX2h5cGVycmVhbGlzdGljX2FkdmVydGlzZW1lbnRfYnJva2VuX19iZDcxMTQwZS1kODU0LTQxNTUtOGVmOC1kNDdjMWE0NGE4YmVfMS5qcGc.jpg" class="img-fluid">
                        <h6>Cookies</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container-fluid carousel-buttons">
            
            <button class="carousel-control-prev leftbtn" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                
                <i class="fa-solid fa-arrow-left"></i>
            </button>

        
            <button class="carousel-control-next rightbtn" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
               
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div> -->
    </div>
</div>   
</div>
